body {
    margin: 0;
    padding: 0;  
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

h1 {
    font-weight: 600;
    font-style: normal; 
    font-size: 1.75em;
    color: #402e32;
    text-transform: uppercase;

}

h2 {
    color: #d29600;
    font-weight: 550;
    font-style: normal; 
}

h3 {
    font-weight: 475;
    font-style: normal;
    letter-spacing: 0.02em; 
    color:#402e32;
    line-height: 1.5em;
    text-transform: uppercase;
    
}

p {
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em; 
    color:#402e32;
    line-height: 1.25em;
}

nav, #nav-menu {
    display: flex;
    font-family:sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}

nav {
    justify-content: space-around;
    align-items: center;
    
}

#nav-menu {
    gap:2em;
    list-style: none;
    font-size: 1.15em;
    text-transform: uppercase;

}
